* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/');
  background-size: auto;
  background-position: center;
}

.bg_img img {
  width: 1520vh;
  height: 150vh;
  object-fit: fill;
  position: absolute;
  z-index: 9;
}

.align-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 17%;
}

.login-container {
  position: relative;
  z-index: 10;
  width: 300px;
  /*margin: 200px 200px 200px 450px;*/
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;

}

/* Add these styles to your existing CSS file or create a new one */

.login-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.login-container:hover {
  transform: scale(1.02);
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  margin-top: 20px;
}

.login-container input,
.login-container button,
.login-container a {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  background-color: #f2f2f2;
}

.login-container button[type="submit"] {
  background-color: #13a2b7;
  color: #fff;
  cursor: pointer;
}

.login-container button[type="submit"]:hover {
  background-color: #0c7ea4;
}

.login-container button[type="button"] {
  background-color: #13a2b7;
  color: #fff;
}

.login-container button[type="button"]:hover {
  background-color: #0c7ea4;
}

/* Add these styles to your existing CSS file or create a new one */

.login-container .google-login {
  display: inline-block;
  border: 1px solid #666666;
  background-color: #ffffff;
  color: #666666;
  padding: 5px 5px 1px 1px;
  border-radius: 7px;
  text-decoration: solid;
  transition: background-color 0.3s ease;
  width: 290px;
}

.login-container .google-login:hover {
  background-color: #c6c6c6;
}


.google-login {
  margin-top: 1px;
  margin-bottom: 1px;
  display: inline-block;
  color: #13a2b7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.google-login:hover {
  color: #282828;
}

.google-login img {
  padding-left: 0%;
  padding-right: 0%;
  padding-inline-start: 0%;
  vertical-align: middle;
  margin-right: 8px;
  height: 40px;
  width: 40px;
}



h2 {
  color: #000000;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  outline: 0;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

button {
  display: inline-block;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #13a2b7;
}